<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AlkewalletAndroid"
        tools:targetApi="31">
        <activity
            android:name=".Splash.Fragment_splash"
            android:exported="false" />
        <activity
            android:name=".Profile.Fragment_profile"
            android:exported="false" />
        <activity
            android:name=".Send_money.Fragment_send_money"
            android:exported="false" />
        <activity
            android:name=".Request_money.Fragment_request_money"
            android:exported="false" />
        <activity
            android:name=".Home_empty.Fragment_home_empty"
            android:exported="false" />
        <activity
            android:name=".Home_page.Fragment_home_page"
            android:exported="false" />
        <activity
            android:name=".Singup.SingupFragment"
            android:exported="false" />
        <activity
            android:name=".Login.Fragment_login"
            android:exported="false" />
        <activity
            android:name=".Login_singup.Fragment_login_singup"
            android:exported="false" />
        <activity
            android:name=".visor"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>